@import "tailwindcss";

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-syrne: "Syne", sans-serif;
  --font-sans: "DM Sans", sans-serif;
}